<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= t "mockups.page_a.navbar_title" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><%= t "mockups.page_a.navbar_home" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><%= t "mockups.page_a.navbar_link" %></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t "mockups.page_a.navbar_dropdown" %>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><%= t "mockups.page_a.navbar_action" %></a></li>
            <li><a class="dropdown-item" href="#"><%= t "mockups.page_a.navbar_another_action" %></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><%= t "mockups.page_a.navbar_something_else_here" %></a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"><%= t "mockups.page_a.navbar_disabled" %></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="<%= t("mockups.page_a.navbar_search") %>" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><%= t "mockups.page_a.navbar_search" %></button>
      </form>
    </div>
  </div>
</nav>


<!--<h1>Hello world</h1>-->
<!--<p>Welcome to this application made by Flavio. ^_^</p>-->
<h1><%= t "mockups.page_a.headline" %></h1>
<p><%= t "mockups.page_a.first_paragraph" %></p>

<hr/>

<p><%= t "mockups.page_a.current_user" %>: <%= current_user.present? == true ? current_user.email : t("mockups.page_a.no_logged_user") %></p> 
<p> 
  <%= button_to t("mockups.page_a.logout"), destroy_user_session_path, method: :delete, class: 'btn btn-danger' if current_user.present? %>
  <%= link_to t("mockups.page_a.login"), new_user_session_path, class: 'btn btn-primary' unless current_user.present? %>
</p>


<hr/>
<br/>

<%= link_to "Inglese", params.permit(:locale).merge(locale: 'en') %> |
<%= link_to "Italiano", params.permit(:locale).merge(locale: 'it') %> 

<hr/>
<br/>

<button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="<%= t("mockups.page_a.popover_title") %>" data-bs-content="<%= t("mockups.page_a.amazing_content") %>"><%= t("mockups.page_a.click_to_toggle_popover") %></button>

<br/>
<br/>

<!--<button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>-->
<button type="button" data-controller="toast" data-action="click->toast#notify" class="btn btn-primary" id="liveToastBtn"><%= t("mockups.page_a.show_toast") %></button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto"><%= t("mockups.page_a.toast_title") %></strong>
      <small><%= t("mockups.page_a.toast_time_ago") %></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <%= t("mockups.page_a.toast_message") %>
    </div>
  </div>
</div>

<br/>
<hr/>
<br/>

<h3>Formattazione della DATA e ORA</h3>
<p>Il valore data e ora del campo "created_at" del primo utente <code>current_user.created_at</code>: <strong><%= current_user.created_at %></strong></p>
<p>stesso valore formattato <code>current_user.created_at.strftime("%A %d %^B %Y at %H:%M and %S seconds")</code>: <strong><%= current_user.created_at.strftime("%A %d %^B %Y at %H:%M and %S seconds") %></strong></p>

<hr/>

<p>Esprimiamo un valore data e ora come stringa <code>"2022-10-08 23:30:28 UTC"</code>: <strong><%= "2022-10-08 23:30:28 UTC" %></strong></p>
<p>Se proviamo ad applicare la formattazione <code>"2022-10-08 23:30:28 UTC".strftime("day %d %^B %Y")</code> abbiamo un errore: <strong><code>ERROR: undefined method `strftime' for "2022-10-08 23:30:28 UTC":String</code></strong></p>

<hr/>

<p>Convertiamo la stringa ad un tipo data, ma senza l'orario <code>"2022-10-08 23:30:28 UTC".to_date</code>: <strong><%= "2022-10-08 23:30:28 UTC".to_date %></strong></p>
<p>Se formattiamo l'orario è tutto a zero <code>"2022-10-08 23:30:28 UTC".to_date.strftime("%A %d %^B %Y at %H:%M and %S seconds")</code>: <strong><%= "2022-10-08 23:30:28 UTC".to_date.strftime("%A %d %^B %Y at %H:%M and %S seconds") %></strong></p>

<hr/>

<p>Convertiamo la stringa ad un tipo data con l'orario <code>"2022-10-08 23:30:28 UTC".to_datetime</code>: <strong><%= "2022-10-08 23:30:28 UTC".to_datetime %></strong></p>
<p>Se formattiamo abbiamo anche l'orario <code>"2022-10-08 23:30:28 UTC".to_datetime.strftime("%A %d %^B %Y at %H:%M and %S seconds")</code>: <strong><%= "2022-10-08 23:30:28 UTC".to_datetime.strftime("%A %d %^B %Y at %H:%M and %S seconds") %></strong></p>

<hr/><br/>

<h4> Qualche esempio con .strftime() usato direttamente. --> non ho la traduzione nelle varie lingue(i18n) </h4>
<p><code>"2022-10-08 23:30:28 UTC".to_datetime.strftime("%A %d %^B %Y at %H:%M and %S seconds")</code>: <strong><%= "2022-10-08 23:30:28 UTC".to_datetime.strftime("%A %d %^B %Y at %H:%M and %S seconds") %></strong></p>
<p><code>"2022-10-08 23:30:28 UTC".to_datetime.strftime("Today is %d %^B %Y")</code>: <strong><%= "2022-10-08 23:30:28 UTC".to_datetime.strftime("Today is %d %^B %Y") %></strong></p>

<hr/><br/>

<h4> Qualche esempio tramite i files in <code>config/locales/</code> --> ho la traduzione nelle varie lingue (i18n) </h4>
<p><q>Usano la stessa sintassi di .strftime() </q></p>
<p><code>l "2022-10-08 23:30:28 UTC".to_date, format: :long</code>: <strong><%= l "2022-10-08 23:30:28 UTC".to_date, format: :long %></strong></p>
<p><code>l "2022-10-08 23:30:28 UTC".to_datetime, format: :long</code>: <strong><%= l "2022-10-08 23:30:28 UTC".to_datetime, format: :long %></strong></p>
<p><code>l "2022-10-08 23:30:28 UTC".to_date, format: :short</code>: <strong><%= l "2022-10-08 23:30:28 UTC".to_date, format: :short %></strong></p>
<p><code>l "2022-10-08 23:30:28 UTC".to_datetime, format: :short</code>: <strong><%= l "2022-10-08 23:30:28 UTC".to_datetime, format: :short %></strong></p>
<p><code>l "2022-10-08 23:30:28 UTC".to_datetime, format: :my_custom_long</code>: <strong><%= l "2022-10-08 23:30:28 UTC".to_datetime, format: :my_custom_long %></strong></p>

<br/>
<hr/>
<br/>

<h3>Formattazione delle VALUTE (currency)</h3>
<p><q>Per i vari campi che contengono un valore monetario. es: prezzi, costi, guadagni, ...</q></p>

<p>numero non formattato: <code>1000000.5555</code>: <strong><%= 1000000.5555 %></strong></p>
<p>numero formattato come valuta:  <code>number_to_currency(1000000.5555)</code>: <strong><%= number_to_currency(1000000.5555) %></strong></p>
<p>numero formattato come valuta con 3 decimali:  <code>number_to_currency(1000000.5555, precision: 3)</code>: <strong><%= number_to_currency(1000000.5555, precision: 3) %></strong></p>
<p>numero formattato come valuta con 4 decimali:  <code>number_to_currency(1000000.5555, precision: 4)</code>: <strong><%= number_to_currency(1000000.5555, precision: 4) %></strong></p>
<p>numero formattato come valuta con 5 decimali:  <code>number_to_currency(1000000.5555, precision: 5)</code>: <strong><%= number_to_currency(1000000.5555, precision: 5) %></strong> <code>avendo 4 decimali nel numero la quinta cifra è 0</code><br/>
  (Allo stesso modo, se nel database dichiariamo 4 decimali, la quinta cifra decimale sarà sempre zero)
</p>

<hr/>

<p>numero formattato con frase:  <code>t "number.currency.format.price_for_reports", price: number_to_currency(1000000.5555, precision: 2)</code>: <strong><%= t "number.currency.format.price_for_reports", price: number_to_currency(1000000.5555, precision: 2) %></strong></p>
<p>numero formattato descrittivo con frase:  <code>t "number.currency.format.price_for_reports", price: number_to_human(1000000.5555, precision: 2)</code>: <strong><%= t "number.currency.format.price_for_reports", price: number_to_human(1000000.5555, precision: 2) %></strong></p>
<p>numero formattato descrittivo con frase:  <code>t "number.currency.format.price_for_reports", price: number_to_human(2500000.5555, precision: 2)</code>: <strong><%= t "number.currency.format.price_for_reports", price: number_to_human(2500000.5555, precision: 2) %></strong></p>
