<div id="<%= dom_id lesson %>">
  <p>
    <strong>Name:</strong>
    <%= lesson.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= lesson.duration %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= lesson.description_rtf %>
  </p>

  <h2>Steps</h2>
  <% for step in lesson.steps %>
    <ul>
      <li><%= step.question %></li>
    </ul>
  <% end %>

  <%= link_to "Show all steps of this lesson", lesson_steps_path(lesson) %> | 
  <%= link_to 'Add New Step', new_lesson_step_path(lesson) %>
  <h2>- - -</h2>
</div>
