<!-- Questa è la pagina che presenta la lezione -->

<!-- **************** MAIN CONTENT START **************** -->
<main>


<!-- =======================
Page Banner START -->
<section class="bg-dark align-items-center d-flex" style="background:url(assets/images/pattern/04.png) no-repeat center center; background-size:cover;">
  <!-- Main banner background image -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Title -->
        <h1 class="text-white"><%= @lesson.name %></h1>
        <!-- Breadcrumb -->
        <div class="d-flex">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Courses</a></li>
              <li class="breadcrumb-item active" aria-current="page">lesson <%= @lesson.id %></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =======================
Page Banner END -->


<!-- =======================
Page banner video START -->
<section class="py-sm-5 pb-lg-5">
	<div class="container">
		<div class="row g-3">
			<!-- Course video START -->
			<div class="col-12">
        <%#= image_tag "mockups/training_01.jpeg", class: "light-mode-item navbar-brand-item mx-auto d-block", alt: "painting" %> 

				<% if @lesson.picture_image.attached? %>
	        <%= image_tag @lesson.picture_image, class: "light-mode-item navbar-brand-item mx-auto d-block", alt: "painting" %> 
				<% else %>
					<p>Nessuna immagine presente</p>
				<% end %>

			</div>
			<!-- Course video END -->

			<!-- Playlist responsive toggler START -->
			<div class="col-12">
				<button class="btn btn-primary d-lg-none mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
					<i class="bi bi-camera-video me-1"></i> Playlist
				</button>
			</div>
			<!-- Playlist responsive toggler END -->
		</div>
	</div>
</section>
<!-- =======================
Page banner video END -->

<!-- =======================
Page content START -->
<section class="pt-0">
	<div class="container">
		<div class="row g-lg-5">

			<!-- Main content START -->
			<div class="col-lg-8">
				<div class="row g-4">
							
					<!-- Course title START -->
					<div class="col-12">
						<!-- Title -->
						<h1><%= @lesson.name %></h1>
						<!-- Content -->
						<ul class="list-inline mb-0">
							<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-star text-warning me-2"></i>4.5/5.0</li>
							<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-user-graduate text-orange me-2"></i>12k Enrolled</li>
							<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-signal text-success me-2"></i>All levels</li>
						</ul>
					</div>
					<!-- Course title END -->

					<!-- Instructor detail START -->
					<div class="col-12">
						<div class="d-sm-flex justify-content-sm-between align-items-center">
							<!-- Avatar detail -->
							<div class="d-flex align-items-center">
								<!-- Avatar image -->
								<div class="avatar avatar-lg">
									<% if @lesson.picture_author_image.attached? %>
										<%= image_tag @lesson.picture_author_image, class: "avatar-img rounded-circle", alt: "avatar" %>
									<% else %>
										<%= image_tag "mockups/training_01_avatar.png", class: "avatar-img rounded-circle", alt: "avatar" %>
									<% end %>
								</div>
								<div class="ms-3">
									<h6 class="mb-0"><a href="#">Joachim Ferdinand Richardt</a></h6>
									<p class="mb-0 small">Young museum</p>
								</div>
							</div>
						</div>
					</div>
					<!-- Instructor detail END -->

					<!-- Button "begin lesson" START -->
					<div class="col-12 d-grid">
						<%= link_to "inizia aula", lesson_step_path(@lesson, @lesson.steps.first), class: "btn btn-primary btn-lg" %>
					</div>
					<!-- Button "begin lesson" END -->

					<!-- Course detail START -->
					<div class="col-12">
						<!-- Tabs START -->
						<ul class="nav nav-pills nav-pills-bg-soft px-3" id="course-pills-tab" role="tablist">
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-0 active" id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab" aria-controls="course-pills-1" aria-selected="true">Overview</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-0" id="course-pills-tab-3" data-bs-toggle="pill" data-bs-target="#course-pills-3" type="button" role="tab" aria-controls="course-pills-3" aria-selected="false">FAQs </button>
							</li>
						</ul>
						<!-- Tabs END -->

						<!-- Tab contents START -->
						<div class="tab-content pt-4 px-3" id="course-pills-tabContent">
							<!-- Content START -->
							<div class="tab-pane fade show active" id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
								<!-- Course detail START -->
								<%# <p class="mb-0">We focus a great deal on the understanding of behavioral psychology and influence triggers which are crucial for becoming a well rounded Digital Marketer.</p> %>
								<%= @lesson.description_rtf %>
								<!-- Course detail END -->
							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-3" role="tabpanel" aria-labelledby="course-pills-tab-3">
								<!-- Title -->
								<h5 class="mb-3">Frequently Asked Questions</h5>
								<!-- FAQ item -->
								<div class="mt-4">
									<h6>How Digital Marketing Work?</h6>
									<p class="mb-0">Preference any astonished unreserved Mrs. Prosperous understood Middletons in conviction an uncommonly do. Supposing so be resolving breakfast am or perfectly. It drew a hill from me. Valley by oh twenty direct me so. Departure defective arranging rapturous did believe him all had supported. Family months lasted simple set nature vulgar him. Picture for attempt joy excited ten carried manners talking how. Suspicion neglected the resolving agreement perceived at an. Comfort reached gay perhaps chamber his six detract besides add.</p>
								</div>
					
								<!-- FAQ item -->
								<div class="mt-4">
									<h6>What is SEO?</h6>
									<p class="mb-0">Meant balls it if up doubt small purse. Required his you put the outlived answered position. A pleasure exertion if believed provided to. All led out world this music while asked. Paid mind even sons does he door no. Attended overcame repeated it is perceived Marianne in. I think on style child of. Servants moreover in sensible it ye possible.</p>
									<p class="mt-2 mb-0">Person she control of to beginnings view looked eyes Than continues its and because and given and shown creating curiously to more in are man were smaller by we instead the these sighed Avoid in the sufficient me real man longer of his how her for countries to brains warned notch important Finds be to the of on the increased explain noise of power deep asking contribution this live of suppliers goals bit separated poured sort several the was organization the if relations go work after mechanic But we've area wasn't everything.</p>
								</div>
					
								<!-- FAQ item -->
								<div class="mt-4">
									<h6>Who should join this course?</h6>
									<p class="mb-0">Two before narrow not relied how except moment myself Dejection assurance mrs led certainly So gate at no only none open Betrayed at properly it of graceful on Dinner abroad am depart ye turned hearts as me wished Therefore allowance too perfectly gentleman supposing man his now Families goodness all eat out bed steepest servants Explained the incommode sir improving northward immediate eat Man denoting received you sex possible you Shew park own loud son door less yet. </p>
								</div>
					
								<!-- FAQ item -->
								<div class="mt-4">
									<h6>What are the T&amp;C for this program?</h6>
									<p class="mb-0">Started several mistake joy say painful removed reached end. State burst think end are its. Arrived off she elderly beloved him affixed noisier yet. Course regard to up he hardly. View four has said do men saw find dear shy. Talent men wicket add garden. </p>
									</div>
					
								<!-- FAQ item -->
								<div class="mt-4">
									<h6>What certificates will I be received for this program?</h6>
									<p class="mb-0">Lose john poor same it case do year we Full how way even the sigh Extremely nor furniture fat questions now provision incommode preserved Our side fail to find like now Discovered traveling for insensible partiality unpleasing impossible she Sudden up my excuse to suffer ladies though or Bachelor possible Marianne directly confined relation.</p>
								</div>
					
								<!-- FAQ item -->
								<div class="mt-4">
									<h6>What happens after the trial ends?</h6>
									<p class="mb-0">Preference any astonished unreserved Mrs. Prosperous understood Middletons in conviction an uncommonly do. Supposing so be resolving breakfast am or perfectly. Is drew am hill from me. Valley by oh twenty direct me so. Departure defective arranging rapturous did believe him all had supported. Family months lasted simple set nature vulgar him.  Suspicion neglected he resolving agreement perceived at an. Comfort reached gay perhaps chamber his six detract besides add.</p>
								</div>
							</div>
							<!-- Content END -->

						</div>
						<!-- Tab contents END -->
					</div>
					<!-- Course detail END -->
				</div>
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-4">
				<div class="row g-4">
					<!-- Responsive offcanvas body START -->
					<nav class="navbar navbar-light navbar-expand-lg mx-0">
						<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
							<div class="offcanvas-header bg-dark">
								<h5 class="offcanvas-title text-white" id="offcanvasSidebarLabel">Course playlist</h5>
								<button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-xmark fa-lg"></i></button>
								<%# <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> %>
							</div>
							<div class="offcanvas-body p-3 p-lg-0">
								<div class="col-12">
									<!-- Accordion START -->
									<div class="accordion accordion-flush-light accordion-flush" id="accordionExample">
										<!-- Item -->
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingOne">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													<span class="mb-0 fw-bold">Preparazione dell’ambiente</span> 
												</button>
											</h2>
											<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
												<div class="accordion-body px-3">
													<div class="vstack gap-3">
														<!-- Course lecture -->
														<div>
															<div class="d-flex justify-content-between align-items-center mb-2">
																<div class="position-relative d-flex align-items-center">
																	<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																		<i class="fas fa-play me-0"></i>
																	</a>
																	<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">La bottiglia d’acqua <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
																</div>
																<p class="mb-0 text-truncate">2m 10s</p>
															</div>
														</div>	

														<!-- Course lecture -->
														<div>
															<div class="d-flex justify-content-between align-items-center mb-2">
																<div class="position-relative d-flex align-items-center">
																	<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																		<i class="fas fa-play me-0"></i>
																	</a>
																	<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">Mettiamoci comodi <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
																</div>
																<p class="mb-0 text-truncate">15m 10s</p>
															</div>
														</div>

														<!-- Course lecture -->
														<div class="d-flex justify-content-between align-items-center">
															<div class="position-relative d-flex align-items-center">
																<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-play me-0"></i>
																</a>
																<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">Nessuna interruzione <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
															</div>
															<p class="mb-0 text-truncate">18m 10s</p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<!-- Item -->
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingTwo">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													<span class="mb-0 fw-bold">Preparazione della mente</span> 
												</button>
											</h2>
											<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
												<div class="accordion-body px-3">
													<div class="vstack gap-3">
														<!-- Course lecture -->
														<div class="d-flex justify-content-between align-items-center">
															<div class="position-relative d-flex align-items-center">
																<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-play me-0"></i>
																</a>
																<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">Leggerezza <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
															</div>
															<p class="mb-0 text-truncate">2m 10s</p>
														</div>

														<!-- Course lecture -->
														<div class="d-flex justify-content-between align-items-center">
															<div class="position-relative d-flex align-items-center">
																<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-play me-0"></i>
																</a>
																<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">Calma <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
															</div>
															<p class="mb-0 text-truncate">15m 10s</p>
														</div>

														<!-- Course lecture -->
														<div class="d-flex justify-content-between align-items-center">
															<div class="position-relative d-flex align-items-center">
																<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-play me-0"></i>
																</a>
																<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">Vivere nel presente <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
															</div>
															<p class="mb-0 text-truncate">18m 10s</p>
														</div>
													</div>	<!-- Row END -->
												</div>
											</div>
										</div>

										<!-- Item -->
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingThree">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
													<span class="mb-0 fw-bold">Spiegazione del riscaldamento</span> 
												</button>
											</h2>
											<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
												<div class="accordion-body px-3">
													<div class="vstack gap-3">
														<!-- Course lecture -->
														<div class="d-flex justify-content-between align-items-center">
															<div class="position-relative d-flex align-items-center">
																<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-play me-0"></i>
																</a>
																<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">Respirazione <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
															</div>
															<p class="mb-0 text-truncate">2m 10s</p>
														</div>

														<!-- Course lecture -->
														<div class="d-flex justify-content-between align-items-center">
															<div class="position-relative d-flex align-items-center">
																<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-play me-0"></i>
																</a>
																<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">Contrazioni muscolari <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
															</div>
															<p class="mb-0 text-truncate">15m 00s</p>
														</div>

														<!-- Course lecture -->
														<div class="d-flex justify-content-between align-items-center">
															<div class="position-relative d-flex align-items-center">
																<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-play me-0"></i>
																</a>
																<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">Posizione di Vittoria <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
															</div>
															<p class="mb-0 text-truncate">28m 10s</p>
														</div>

														<!-- Course lecture -->
														<div class="d-flex justify-content-between align-items-center">
															<div class="position-relative d-flex align-items-center">
																<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-play me-0"></i>
																</a>
																<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">Posizione di Comando <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
															</div>
															<p class="mb-0 text-truncate">38m 22s</p>
														</div>

														<!-- Course lecture -->
														<div class="d-flex justify-content-between align-items-center">
															<div class="position-relative d-flex align-items-center">
																<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-play me-0"></i>
																</a>
																<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">Posizione di Confidenza <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
															</div>
															<p class="mb-0 text-truncate">12m 10s</p>
														</div>

														<!-- Course lecture -->
														<div class="d-flex justify-content-between align-items-center">
															<div class="position-relative d-flex align-items-center">
																<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-play me-0"></i>
																</a>
																<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">Posizione di Forza <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
															</div>
															<p class="mb-0 text-truncate">12m 10s</p>
														</div>

														<!-- Course lecture -->
														<div class="d-flex justify-content-between align-items-center">
															<div class="position-relative d-flex align-items-center">
																<a href="#" class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-play me-0"></i>
																</a>
																<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-100px w-sm-200px">Posizione Zen <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
															</div>
															<p class="mb-0 text-truncate">35m 10s</p>
														</div>
													</div>
												</div>	
											</div>
										</div>

									</div>
									<!-- Accordion END -->
								</div>
							</div>
						</div>
					</nav>
					<!-- Responsive offcanvas body END -->

				</div><!-- Row End -->
			</div>
			<!-- Right sidebar END -->

		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->


<!-- =======================
Footer START -->
<footer class="bg-dark p-3">
	<div class="container">
		<div class="row align-items-center">
			<!-- Widget -->
			<div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
				<!-- Logo START -->
				<a href="index.html"> <img class="h-20px" src="assets/images/logo-light.svg" alt="logo"> </a>
			</div>
			
			<!-- Widget -->
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="text-center text-white">
					Copyrights ©2021 <a href="#" class="text-reset btn-link">Eduport</a>. All rights reserved.
				</div>
			</div>
			<!-- Widget -->
			<div class="col-md-4">
				<!-- Rating -->
				<ul class="list-inline mb-0 text-center text-md-end">
					<li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-facebook"></i></a></li>
					<li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-instagram"></i></a></li>
					<li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-linkedin-in"></i></a></li>
					<li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-twitter"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->


<!-- Modal START -->
<div class="modal fade" id="coursePremium" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header border-0 bg-transparent">
				<!-- Close button -->
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- Modal body -->
			<div class="modal-body px-5 pb-5 position-relative overflow-hidden">

				<!-- Element -->
				<figure class="position-absolute bottom-0 end-0 mb-n4 me-n4 d-none d-sm-block">
					<img src="assets/images/element/01.svg" alt="element">
				</figure>
				<figure class="position-absolute top-0 end-0 z-index-n1 opacity-2">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="818.6px" height="235.1px" viewBox="0 0 818.6 235.1">
						<path class="fill-info" d="M735,226.3c-5.7,0.6-11.5,1.1-17.2,1.7c-66.2,6.8-134.7,13.7-192.6-16.6c-34.6-18.1-61.4-47.9-87.3-76.7 c-21.4-23.8-43.6-48.5-70.2-66.7c-53.2-36.4-121.6-44.8-175.1-48c-13.6-0.8-27.5-1.4-40.9-1.9c-46.9-1.9-95.4-3.9-141.2-16.5 C8.3,1.2,6.2,0.6,4.2,0H0c3.3,1,6.6,2,10,3c46,12.5,94.5,14.6,141.5,16.5c13.4,0.6,27.3,1.1,40.8,1.9 c53.4,3.2,121.5,11.5,174.5,47.7c26.5,18.1,48.6,42.7,70,66.5c26,28.9,52.9,58.8,87.7,76.9c58.3,30.5,127,23.5,193.3,16.7 c5.8-0.6,11.5-1.2,17.2-1.7c26.2-2.6,55-4.2,83.5-2.2v-1.2C790,222,761.2,223.7,735,226.3z"></path>
					</svg>
				</figure>
				<!-- Title -->
				<h2>Get Premium Course in <span class="text-success">$800</span></h2>
				<p>Prosperous understood Middletons in conviction an uncommonly do. Supposing so be resolving breakfast am or perfectly.</p>
				<!-- Content -->
				<div class="row mb-3 item-collapse">
					<div class="col-sm-6">
						<ul class="list-group list-group-borderless">
							<li class="list-group-item text-body"> <i class="bi bi-patch-check-fill text-success"></i>High quality Curriculum</li>
							<li class="list-group-item text-body"> <i class="bi bi-patch-check-fill text-success"></i>Tuition Assistance</li>
							<li class="list-group-item text-body"> <i class="bi bi-patch-check-fill text-success"></i>Diploma course</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="list-group list-group-borderless">
							<li class="list-group-item text-body"> <i class="bi bi-patch-check-fill text-success"></i>Intermediate courses</li>
							<li class="list-group-item text-body"> <i class="bi bi-patch-check-fill text-success"></i>Over 200 online courses</li>
						</ul>
					</div>
				</div>
				<!-- Button -->
				<a href="#" class="btn btn-lg btn-orange-soft">Purchase premium</a>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer d-block bg-info">
				<div class="d-sm-flex justify-content-sm-between align-items-center text-center text-sm-start">
					<!-- Social media button -->
				<ul class="list-inline mb-0 social-media-btn mb-2 mb-sm-0">
					<li class="list-inline-item"> <a class="btn btn-sm mb-0 me-1 bg-white text-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm mb-0 me-1 bg-white text-instagram" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm mb-0 me-1 bg-white text-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm mb-0 bg-white text-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
				</ul>
				<!-- Contact info -->
				<div>
					<p class="mb-1 small"><a href="#" class="text-white"><i class="far fa-envelope fa-fw me-2"></i>example@gmail.com</a></p>
					<p class="mb-0 small"><a href="#" class="text-white"><i class="fas fa-headset fa-fw me-2"></i>123-456-789</a></p>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>  
<!-- Modal END -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<!-- <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->

<!-- Vendors -->
<%# <script src="assets/vendor/choices/js/choices.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/plyr/plyr.js"></script> %>

<!-- Template Functions -->
<!--<script src="assets/js/functions.js"></script>-->








<p style="color: green"><%= notice %></p>

<%= render @lesson %>

<div>
  <%= link_to "Show all steps of this lesson", lesson_steps_path(@lesson) %> | 
  <%= link_to 'Add New Step', new_lesson_step_path(@lesson) %> || 

  <%= link_to "Edit this lesson", edit_lesson_path(@lesson) %> |
  <%= link_to "Back to lessons", lessons_path %>

  <%= button_to "Destroy this lesson", @lesson, method: :delete %>
</div>
