<p style="color: green"><%= notice %></p>

<h1>Steps</h1>

<div id="steps">
  <% @steps.each do |step| %>
    <%= render step %>
    <p>
      <%#= link_to "Show this step", step %>
      <%= link_to "Show this step", lesson_step_path(@lesson, step) %>
      <%= link_to 'Show this Lesson', [@lesson] %>
    </p>
  <% end %>
</div>

<%#= link_to "New step", new_step_path %>
<%= link_to 'New Step', new_lesson_step_path(@lesson) %>
