<p style="color: green"><%= notice %></p>

<%= render @step %>

<br/>---------------<br/>

<%= form_with(model: [@lesson, @step]) do |form| %>
  <% if @step.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
        <% @step.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :answer, style: "display: block" %>
    <%= form.text_area :answer %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br/>---------------<br/>
---------------<br/>

<p>
  <strong>Answers in Answers Table</strong>
  <ul>
    <% @step.answers.each do |answer| %>
      <li>
        <%= answer.content %> - by <%= answer.user.username %>
      </li>
    <% end %>
  </ul>
</p>

<%= form_with(model: [@lesson, @step], local: true) do |form| %>
  <!-- Creiamo nuovo Record -->
  <%= form.fields_for :answers, Answer.new do |answer| %>
    <%= render "answer_fields", form: answer %>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br/>---------------<br/>

<div>
  <%= @step.prev.id if @step.prev.present? %>
  <%= link_to '<Prev', lesson_step_path(@lesson, @step.prev.id) if @step.prev.present? %>
  <%= @step.id %>
  <%= link_to 'Next>', lesson_step_path(@lesson, @step.next.id) if @step.next.present? %>
  <%= @step.next.id if @step.next.present? %>
  <br/>

  <%#= link_to "Edit this step", edit_step_path(@step) %>
  <%= link_to 'Edit this step', edit_lesson_step_path(@lesson, @step) %> |
  <%#= link_to "Back to steps", steps_path %>
  <%= link_to 'Back to lesson steps', lesson_steps_path(@lesson) %>

  <%#= button_to "Destroy this step", @step, method: :delete %>
  <%= button_to "Destroy this step", [@lesson, @step], method: :delete %>
</div>
