<!DOCTYPE html>
<html>
  <head>
    <title>Ubuntudream</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
    #test-form {
      width: 100%;
      padding: 50px 0;
      text-align: center;
      background-color: lightblue;
      margin-top: 20px;
      display: none; /*non visualizziamo il form*/
    }
    #test-form .form-control {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 10px;
      /*float: none;*/
    }
    #test-form .btn {
      width: 90%;
    }
    </style>
  </head>

  <body>
    <h1>BASIC LAYOUT</h1>
    <%= yield %>
    <div><%= notice %></div>
    <div><%= alert %></div>
  </body>
</html>
